<link rel="stylesheet" href="/css/footer.css">

<div class="footer">
    <div class="footer-grid borderoff">
        <div class="nosotros">
            <img src="/img/favicon.png" alt="">
            <div class="nosotros-texto">
                <h3>Sobre Nosotros.</h3>
                <p>Skytten es una comunidad gamer, actualmente cuenta con una network de Minecraft, cuyo objetivo es ofrecer entretenimiento a nuestros usuarios.</p>
            </div>
        </div>
    </div>
    <div class="footer-grid">
        <div class="enlaces">
            <h3>Enlaces</h3>
            <a href="/terms">Términos y condiciones.</a>
            <a href="/reglas">Reglas.</a>
        </div>
    </div>
    <div class="footer-grid">
        <div class="apoyanos">
            <h3>Apóyanos.</h3>
            <p>Nos ayudarias bastante comprando cualquier articulo en nuestra tienda.</p>
            <a href="https://tienda.skytten.tk">Tienda</a>
        </div>
    </div>
</div>
<div class="copy">
    <div class="copy-grid">
        <div class="copy-texto">
            <h3>Copyright © Skytten 2022.</h3>
            <p>Made with <i class="fa-solid fa-heart"></i> by <a class="DeestyLeo" href="">DeestyLeo</a>.</p>
        </div>
        <div class="redes">
            <a class="twitter" href=""><i class="fa-brands fa-twitter"></i></a>
            <a class="tiktok" href=""><i class="fa-brands fa-tiktok"></i></a>
            <a class="youtube" href=""><i class="fa-brands fa-youtube"></i></a>
            <a class="instagram" href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>