<!doctype html>
<html lang="es" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="DeestyLeo">
    <meta name="description" content="CrayShole Cortex Estudios donde se encuentra el Entrenimiento y la Diversion es la locura."/>
    <meta name="keywords" content="entretenimiento, animaciones, comics, youtubers, crayshole"/>
    <meta name="copyright" content="© CrayShole Cortex Estudios 2022-2023" />
    <meta name="theme-color" content="#EAC614">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://skytten.tk/">
    <meta property="og:image" content="https://dunb17ur4ymx4.cloudfront.net/webstore/favicons/c9814e57de53189444195f10c3c0d036268d3342.png">
    <link rel="shortcut icon" href="https://dunb17ur4ymx4.cloudfront.net/webstore/favicons/c9814e57de53189444195f10c3c0d036268d3342.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/de50ee0ee2.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/necesary.js"></script>
    <title>{{ title }}</title>
  </head>

  <body>

    {{> navbar }}

    <div class="contenido">
      
      {{{ body }}}
    
      {{> footer }}
    
    </div>
    
  </body>
</html>