<link rel="stylesheet" href="/css/error.css">

<div class="body">
    <div class="logo">
        <div class="logo animated">
            <img src="/img/favicon.png" alt="">
        </div>
    </div>
    <div class="error">
        <div class="info">
            <h3>¡Lo sentimos!</h3>
            <p>No pudimos encontrar esa página. Si cree que es un error, contacte con un administrador.</p>
            <div class="back">
                <button class="btn-back" onclick="history.go(-1)">Volver a la página anterior</button>
                <a href="/" class="inicio">Inicio</a>
            </div>
        </div>
    </div>
</div>