<link rel="stylesheet" href="/css/reglas.css">

<div class="header"></div>
<div class="body">
        <h3>Reglas Skytten Network.</h3> 
    <div class="content"> 
        <div class="grid">
            <div class="content">
        <p><strong>INFORMACIÓN</strong><br>Antes de todo debes saber que al Jugar con algo relacionado con el servidor de play.skytten.tk estas aceptan nuestros términos y condiciones, El desconocimiento de las normas no exime de su cumplimiento en cualquier tipo de situación. Estas normas se tienen que seguir al pie da la letra y el staff tiene permitido sancionar por alguna otra razón que no se encuentre en este documento.
        
También recuerda que las decisiones tomadas por cualquier miembro de nuestro staff son finales y deben ser respetadas, si tienes una advertencia o sanción que con la que no estás de acuerdo puedes ir a apelar en nuestro Discord (link discord) esta será revisada para considerar si te quitamos o no la sanción puesta anteriormente, también si ves un usuario cometiendo alguna infracción que esté en esta listo o alguna otra también lo podrás reportar en nuestro (link discord) aportando pruebas claras y concisas para aplicar la respectiva sanción.
        
Recuerda que en la normativa de Skytten usamos el sentido común, úsalo tú también y entre todos podremos formar una buena y sana comunidad. Estas normas aplican en todas nuestras redes de comunicación del servidor.

<strong>IMPORTANTE</strong><br>La administracion de skytten Network tiene todo el derecho de cambiar estas normas cuando ser necesario y sin tener un previo aviso, esto puede psara en normas pequeñas pero por lo general avisamos muchas gracias por tu atencion y que te diviertas en nuestra hermosa comunidad.</p>
            </div>
        </div>
    </div>
</div>