<link rel="stylesheet" href="css/staff.css">

<div class="header"></div>
<div class="body">
    <div class="list-staff">
        <div class="fundadores-title">
            <h3>Fundadores</h3>
        </div>
        <div class="content">
            <div class="grid">
                <div class="icon">
                    <a href="perfil/DeestyLeoYT"><img src="https://minepic.org/avatar/DeestyLeoYT" alt=""></a>
                </div>
                <div class="fundadores-name">
                    <h3><a href="perfil/DeestyLeoYT">DeestyLeoYT</a></h3>
                </div>
            </div>
            <div class="grid">
                <div class="icon">
                    <a href="perfil/Nicki1128"><img src="https://minepic.org/avatar/bunnyboygiorno" alt=""></a>
                </div>
                <div class="fundadores-name">
                    <h3><a href="perfil/Nicki1128">Nicki1128</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="list-staff">
        <div class="manager-title">
            <h3>Manager</h3>
        </div>
        <div class="content">
            <div class="grid">
                <div class="icon">
                    <a href="perfil/BrandonYT5K"><img src="https://minepic.org/avatar/BrandonYT5K" alt=""></a>
                </div>
                <div class="manager-name">
                    <h3><a href="perfil/BrandonYT5K">BrandonYT5K</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="list-staff">
        <div class="owner-title">
            <h3>Owner</h3>
        </div>
        <div class="content">
            <div class="grid">
                <div class="icon">
                    <a href="perfil/MarlonOP"><img src="https://cdn.discordapp.com/avatars/332985002868604929/8369c1dcfc5dc9557cf147350e20f954.webp" alt=""></a>
                </div>
                <div class="owner-name">
                    <h3><a href="perfil/MarlonOP">MarlonOP</a></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="list-staff">
        <div class="diseñador-title">
            <h3>Diseñador</h3>
        </div>
        <div class="content">
            <div class="grid">
                <div class="icon">
                    <a href="perfil/Catimoco"><img id="imagen" src="https://cdn.discordapp.com/avatars/528061757365944330/995f25ab5407944b29f72e795cec2af2.webp" crossorigin="anonymous" alt=""></a>
                    <canvas id="micanvas" width="80" height="80"></canvas>
                </div>
                <div id="diseñador-name">
                    <h3><a href="perfil/Catimoco">Catimoco</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var active = document.getElementById('item-staff');

    active.setAttribute('id', 'active');

</script>