/*Animations*/
@keyframes logo {
    0%, 100%  {
        transform: scaleX(1);
    }
    50% {
        transform: scale3d(0.95, 0.95, 0.95);
    }
}

/* Body */
.header {
    position: relative;
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(234, 198, 20), rgba(32, 34, 37, 0.25));
    background-image: url('../img/panoramic-3.png');
    background-position: center;
    margin: 0;
}

.header-logo img {
    width: 12.5rem;
    height: 12.5rem;
}
.header-logo.animated {
    -webkit-animation: logo 5s infinite;
    animation: logo 5s infinite;
    transition: all 0.2s ease;
}
.header-logo.animated:hover {
    filter: brightness(80%);
}

.header-status {
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
}
.header-status-title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}
.header-status-icon {
    font-size: 2.3rem;
    margin: 0.3rem;
}
.header-status-right {
    flex-direction: row-reverse;
    right: 1rem;
    text-align: right;
}
.header-status:hover {
    opacity: 0.8;
    padding-right: 1rem;
    padding-left: 1rem;
}
.header-status-left {
    left: 1rem;
}

.body {
    position: relative;
    display: flex;
    justify-content: center;
}
.card {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.anuncio-grid {
    position: relative;
    width: 41rem;
    max-width: 90%;
    min-height: 32rem;
    margin: 1rem;
    background: rgb(58, 61, 66);
    border-radius: 0.8rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}
.anuncio-grid .icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.anuncio-grid-title {
    background: rgb(234, 198, 20);
    margin: 0;
    position: relative;
    top: 0;
    padding: 0.5rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}
.anuncio-grid-title .anuncio-author {
    display: flex;
    position: absolute;
    top: 1.8rem;
    left: 3.5rem;
}
.anuncio-image {
    display: flex;
    justify-content: center;
}
.anuncio-image img {
    position: relative;
    max-width: 96%;
    margin: 1rem;
}
.anuncio-description {
    margin-left: 1rem;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}
.anuncios .more {
    display: flex;
    justify-content: center;
}
.anuncios .more h3 {
    max-width: max-content;
    padding: 1rem;
    background-color: rgb(234, 198, 20);
    border-radius: 0.8rem;
}
.body-staff, .body-status {
    position: relative;
    width: 15rem;
    min-height: 7rem;
    margin-bottom: 1rem;
    background: rgb(58, 61, 66);
    border-radius: 0.8rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.staff-title, .status-title {
    background: rgb(234, 198, 20);
    margin: 0;
    position: relative;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    text-align: center;
}
.staff-grid, .status-grid {
    display: flex;
    justify-content: space-between; 
    margin: 1rem;
    align-items: center;
}
.staff-grid .staff-icon img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.status-grid .ip, .status-grid .online {
    color: #202225;
}
.status-grid .ip-content, .status-grid .online-content {
    color: gray;
}

/* Responsive */
@media screen and (max-width: 900px){
    .header{
        height: 30rem;
        flex-direction: column;
    }
    .header-status {
        text-align: center;
        padding: 1rem;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.52);
        justify-content: center;
        margin: 0.5rem;
    }
    .header-status-icon {
        position: absolute;
        left: -10rem;
    }
    .header-status-left, .header-status-right {
        position: relative;
        left: 0;
    }
    .body {
        flex-direction: column-reverse;
    }
    .card {
        width: 100%;
    }
    .body-staff, .body-status {
        width: 90%;
        margin: 1rem;
    }
}